* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

#app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    color: white;
}

#object-options {
    background-color: #111;
    padding: 10px;
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.object-action {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    transition: 300ms;
    pointer-events: all;
}

.object-action:hover {
    background-color: #222;
}

.object-action.disabled {
    background-color: #330000;
    cursor: default;
}

.object-action.active {
    background-color: #005500;

}


.object-action img {
    width: 32px;
    height: 32px;
}

.item-action {
    pointer-events: all;
}

.item-name {
    font-size: 12px;
    text-align: center;
}

.item-action .item-count {
    position: absolute;
    top: 60px;
    right: 0;
    color: #555;

}

.item-action img {
    width: 96px;
    height: 96px;
}


.item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid black;
    justify-content: space-between;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.item-drop {
    background-color: #330000;
    width: max-content;
    padding: 2px;
    pointer-events: all;


}

.item-drop:hover {
    background-color: #995555;
}

.removal {
    transition: opacity 500ms;
    opacity: 0;
}

#log-list {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    margin: 10px;
}

.log-item {
    padding: 10px 20px;
    background-color: #222;
    max-width: 500px;
    width: max-content;
    pointer-events: all;
    position: relative;
}

.log-item.clickable {
    cursor: pointer;
}

.log-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
}

.log-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: #000;
}

.log-clickable {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
}

.log-item.critical {
    background-color: #f22;
}


.log-item.warn {
    background-color: #aa0;
}

.log-item.objective {
    background-color: #595;
}

.log-item.critical .log-icon {
    filter: sepia(100%) saturate(1000%) brightness(70%) hue-rotate(305deg)
}

.completed {
    color: #9f9;
}